extends layout

block content
  
  
  .item-detail
    .row
      .pic.col-md-4.text-center
        if item.image
          img.img-product(src=item.imageUrl)
      .detail.col-md-8
        span.name #{title}
        if (user=='buyer')
          a.btn.btn-danger.float-right.buy(href=item.url + '/buy') Buy
        
        .category 
          span #{item.category.name}
        
        span.price CDN$ #{item.price}
        
        .section
          span.title Product Info
          span.description #{item.description}
        
        .section
          span.title Seller
          span.description #{item.seller.local.fname} #{item.seller.local.lname}
        
        .section.last
          span.title Item Location
          .description.map-wrapper
            #map
  
      
      
      script.
        function initMap() {
        var uluru = {lat:#{item.lat}, lng:#{item.lng}};
        var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: uluru
        });
        var marker = new google.maps.Marker({
        position: uluru,
        map: map
        });
        }
      script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAgZUN--NvPNLqcKGh2w1zLbh0butq7Y1w&callback=initMap') 

  if (user == 'seller')
    a.btn.btn-secondary(href='/items/'+item._id+'/update' role='button') Update

    form(method='POST' action=item.url+'/delete')
        div.form-group
          input#itemid.form-control(type='hidden',name='itemid', required='true', value=item._id )
        button.btn.btn-danger(type='submit') Delete
  else
    br
    if login
      form(method='POST' action=item.url+'/review' id='review_form')
          div.form-group
              label(for='review') #[strong Rate]
              .rateyo(data-rateyo-rating='0%', data-rateyo-spacing='10px', data-rateyo-rated-fill='#ffdb03')
          div.form-group
            label(for='review') #[strong Review:]
            textarea#review.form-control(name='review', required='true')
          div.form-group
              input#itemid.form-control(type='hidden',name='itemid', required='true', value=item._id )
          div.form-group
              input#rate_field.form-control(type='hidden',name='rate_field', required='true', value=1)
          button.btn.btn-danger(type='submit') Write A Review
    else 
      a(href=item.url + '/review') Log in to leave a review

  br
  label(for='previous_reviews') #[strong Previous Reviews:]
  -function prettyDate(dateString){
      //if it's already a date object and not a string you don't need this line:
      -var date = new Date(dateString);
      -var d = date.getDate();
      -var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun","Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
      -var m = monthNames[date.getMonth()];
      -var y = date.getFullYear();
      -return d+' '+m+' '+y;
  -}
  div
    table#review_table
        each review in review_list
          tr
            td#review_section #{review.review}
            td#reviewer_name #{review.reviewer.local.fname + ' (' + Math.round(review.rating * 10)/10 + '/5)'}
            td#review_date #{prettyDate(review.review_date)}
        else
          li No review

  if (error)
      p(class="error") #{error}
  if (message)
      p(class="message") #{message}

  script(type='text/javascript', src='/scripts/rating_logic.js')
  script(type='text/javascript', src='/scripts/rating.js')
