extends layout

block content
  h3= title
  a.btn.btn-secondary.btn-sm.float-right(href='/items/create' role='button') Add Item

  - var startIndex = Math.min(itemCount, ((page - 1) * limit) + 1);
  - var endIndex = Math.min(itemCount, startIndex + limit - 1);

  div.list-head
    div.left
      if itemCount <= limit
        | #{itemCount} results
      else
        | #{startIndex}-#{endIndex} of #{itemCount} results
    div.right
      span Sort By: &nbsp;
      form(method='GET' action='')
        select(type='select' name='sort' onchange='this.form.submit()')
          option(value='alpha' selected=(sortBy=='alpha' ? 'selected' : false)) Alphabetical
          option(value='popular' selected=(sortBy=='popular' ? 'selected' : false)) Popularity
          option(value='price-asc' selected=(sortBy=='price-asc' ? 'selected' : false)) Price: Low to High
          option(value='price-desc' selected=(sortBy=='price-desc' ? 'selected' : false)) Price: High to Low

  ol.item-list
    each item in item_list
      li
        div.row
          div.pic.col-sm-3.text-center
            img(src= item.image ? item.imageUrl : '/uploads/question-mark.svg')
          div.detail.col-sm-9
            span.name
              a(href=item.url) #{item.name}
            span.seller
              | by #{item.seller.local.fname} #{item.seller.local.lname}
            span.category
              | #{item.category.name}
            span.price
              | CDN$ #{item.price}
            span.rating
              | ★★★★
            span
              | #{item.view_count} views

    else
      li No items


  include pagination
