extends layout

block content
  .row
    div.col-md-3
      br
      br
      br
      each cat in catListForItemPage
        a(href='/categories/'+cat._id) #{cat.name}
        br
    div.col-md-9
      h3= title
      a.btn.btn-secondary.btn-sm.float-right(href='/items/create' role='button') Add Item
      - var startIndex = Math.min(itemCount, ((page - 1) * limit) + 1);
      - var endIndex = Math.min(itemCount, startIndex + limit - 1);

      div.list-head
        div.left
          if itemCount <= limit
            | #{itemCount} results
          else
            | #{startIndex}-#{endIndex} of #{itemCount} results
        div.right
          span Sort By: &nbsp;
          form(method='GET' action='')
            select(type='select' name='sort' onchange='this.form.submit()')
              option(value='alpha' selected=(sortBy=='alpha' ? 'selected' : false)) Alphabetical
              option(value='popular' selected=(sortBy=='popular' ? 'selected' : false)) Popularity
              option(value='price-asc' selected=(sortBy=='price-asc' ? 'selected' : false)) Price: Low to High
              option(value='price-desc' selected=(sortBy=='price-desc' ? 'selected' : false)) Price: High to Low

      ol.item-list
        each item in item_list
          li
            include _item_row
                
        else
          li No items

      include _pagination
