extends layout

block content
  h2= title
  br
  p #[strong Price:] CDN$ #{item.price}
  p #[strong Category:] #{item.category.name}
  p #[strong Sold by:] #{item.seller.local.fname} #{item.seller.local.lname}
  if item.description
    p #[strong Description:] #{item.description}

  if (user == 'seller')
    a.btn.btn-secondary(href='/items/'+item._id+'/update' role='button') Update

    form(method='POST' action=item.url+'/delete')
        div.form-group
          input#itemid.form-control(type='hidden',name='itemid', required='true', value=item._id )
        button.btn.btn-danger(type='submit') Delete
  else
    form(method='GET' action=item.url+'/buy')
        div.form-group
          input#itemid.form-control(type='hidden',name='itemid', required='true', value=item._id )
        button.btn.btn-danger(type='submit') Buy
    br
    form(method='POST' action=item.url+'/review')
      div.form-group
          label(for='review') #[strong Review:]
          textarea#review.form-control(name='review')
      div.form-group
          label(for='review') #[strong Rate]
          input#rating.form-control(type='text' name='rating' value=(undefined===review ? '' : review.rating) required='true')
      div.form-group
        input#itemid.form-control(type='hidden',name='itemid', required='true', value=item._id )
      button.btn.btn-danger(type='submit') Write A reviews

    br
    label(for='previous_reviews') #[strong Previous Reviews:]
    div
      table
          each review in review_list
            tr
              td #{review.review}
              td #{review.reviewer.local.fname}
          else
            li No review

  if (error)
    p(class="error") #{error}

  if (message)
    p(class="message") #{message}
