extends layout

block content
  h2= title
  br
  p #[strong Price:] CDN$ #{item.price}
  p #[strong Category:] #{item.category.name}
  p #[strong Sold by:] #{item.seller.local.fname} #{item.seller.local.lname}
  if item.description
    p #[strong Description:] #{item.description}

  if (user == 'seller')
    a.btn.btn-secondary(href='/items/'+item._id+'/update' role='button') Update

    form(method='POST' action=item.url+'/delete')
        div.form-group
          input#itemid.form-control(type='hidden',name='itemid', required='true', value=item._id )
        button.btn.btn-danger(type='submit') Delete
  else
    form(method='GET' action=item.url+'/buy')
        div.form-group
          input#itemid.form-control(type='hidden',name='itemid', required='true', value=item._id )
        button.btn.btn-danger(type='submit') Buy
