extends layout

block content
  .form
    h2=title

    br
    p #[strong Item:] #{item.name}
    p #[strong Price:] CDN$ #{item.price}
    p #[strong Sold by:] #{item.seller.local.fname} #{item.seller.local.lname}

    form(method='POST' action=item.url+'/buy')
      div.form-group
        label(for='quantity') Quantity:
        input#quantity.form-control(type='number' name='quantity' required='true' value='1')
      div.form-group
        label(for='ship_address') Shipping address:
        input#ship_address.form-control(type='text', placeholder='Country, Province, City', name='ship_address', value='')
      br
      h3="Payment method"
      div.form-group
        label(for='credit_card_number') Credit Number:
        input#credit_card_number.form-control(type='text' name='credit_card_number'  required='true' value='')
      div.form-group
        label(for='cvv') CVV:
        input#cvv.form-control(type='text' name='cvv'  required='true')
      div.form-group.input
        label(for='expiry_date') Expiry Date:
        input#expiry_date.form-control(type='date', placeholder='' required='true' name='expiry_date', value='')

      br
      h3="Bill"
      p #[strong Total cost:]
      input#total_amount(type='text', value='CDN$ ' + item.price, readonly='')


      div.form-group
        input#itemid.form-control(type='hidden',name='itemid', required='true', value=item._id )
        input#item_price.form-control(type='hidden',name='item_price', required='true', value=item.price )

      br
      button.btn.btn-primary(type='submit') Place the order


    if errors
      ul
        for error in errors
          li!= error.msg

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  script(type = 'text/javascript', src = '/scripts/total_cost.js')