extends layout

block content
  h3= title
  a.btn.btn-secondary.btn-sm(href='/items/create' role='button') new item

  ul
  each item in item_list
    li
      a(href=item.url) #{item.name}
      |  by #{item.seller.local.fname} #{item.seller.local.lname}
  else
    li No items
