extends layout

block content

  div.row
    div.col-lg-2
      h4= title
    div.col-lg-10
      form(method='POST' action='?_csrf='+_csrf enctype='multipart/form-data')
        div.form-group
          label(for='name') Name:
          input#name.form-control(type='text' name='name' value=(undefined===item ? '' : item.name) required='true')

        div.form-group
          label(for='price') Price (CDN$):
          input#price.form-control(type='text' name='price' value=(undefined===item ? '' : item.price) required='true')

        div.form-group
          label(for='category') Category:
          if category_list.length == 0
            p.text-danger There are no categories,
              a(href='/categories/create') create one
          select#category.form-control(type='select' name='category' required='true')
            option(value='' disabled selected) (Select category)
            for cat in category_list
              if item
                option(value=cat._id selected=(selected_category.equals(cat._id) ? 'selected' : false)) #{cat.name}
              else
                option(value=cat._id) #{cat.name}

        div.form-group
          label(for='description') Description:
          if item
            textarea#description.form-control(name='description') #{item.description}
          else
            textarea#description.form-control(name='description')

        div.form-group
          label(for='lat') Latitude:
            input#lat.form-control(type='text' name='lat' value=(undefined===item ? '49.8' : item.lat) require='true')

        div.form-group
          label(for='lng') Longitude:
          input#lng.form-control(type='text' name='lng' value=(undefined===item ? '-122.1' : item.lng) require='true')

        br
        div.imageforupdate
          if !item 
            p Upload your image here: 
            p #[input(type='file', name='imageupload', title='Please choose your image')]
            p #[input(type='file', name='imageupload', title='Please choose your image')]
            p #[input(type='file', name='imageupload', title='Please choose your image')]
          else if (item.image == 'question-mark.svg')
            p Upload your image here: 
            p #[input(type='file', name='imageupload', title='Please choose your image')]
            p #[input(type='file', name='imageupload', title='Please choose your image')]
            p #[input(type='file', name='imageupload', title='Please choose your image')]
          else if item
            if (item.image_total.length == 3)
              div.carouselframe
                div#myCarousel.carousel.slide(data-ride='carousel')
                  ol.carousel-indicators
                    li(data-target='#myCarousel', data-slide-to='0', class='active')
                    li(data-target='#myCarousel', data-slide-to='1')
                    li(data-target='#myCarousel', data-slide-to='2')
                  div.carousel-inner(role='listbox')
                    div.carousel-item.active
                      img.d-block.img-fluid(src=item.imageSingleUrl0)
                    div.carousel-item
                      img.pic(src=item.imageSingleUrl1)   
                    div.carousel-item
                      img.d-block.img-fluid(src=item.imageSingleUrl2)
                  a.carousel-control-prev(href='#myCarousel', role='button', data-slide='prev')
                    i.fa.fa-chevron-left(aria-hidden='true')
                  a.carousel-control-next(href='#myCarousel', role='button',data-slide='next')
                    i.fa.fa-chevron-right(aria-hidden='true')
            else if (item.image_total.length == 2)
              div.carouselframe
                div#myCarousel.carousel.slide(data-ride='carousel')
                  ol.carousel-indicators
                    li(data-target='#myCarousel', data-slide-to='0', class='active')
                    li(data-target='#myCarousel', data-slide-to='1')
                  div.carousel-inner(role='listbox')
                    div.carousel-item.active
                      img.d-block.img-fluid(src=item.imageSingleUrl0)
                    div.carousel-item
                      img.pic(src=item.imageSingleUrl1)   
                  a.carousel-control-prev(href='#myCarousel', role='button', data-slide='prev')
                    i.fa.fa-chevron-left(aria-hidden='true')
                  a.carousel-control-next(href='#myCarousel', role='button',data-slide='next')
                    i.fa.fa-chevron-right(aria-hidden='true')          
            else    
              img.img-product(src=item.imageUrl)
            
            br
            p OR You can upload new files: 
            p #[input(type='file', name='imageupload', title='Please choose your image')]
            p #[input(type='file', name='imageupload', title='Please choose your image')]
            p #[input(type='file', name='imageupload', title='Please choose your image')]
        br
        br
        button.btn.btn-primary(type='submit') Submit
        a.btn.btn-secondary.float-right(href='/items') Cancel

      if errors
        ul
          for error in errors
            li!= error.msg
