extends layout

block content
  h1=title
  .form
    p#profile_name Hello #{user.local.fname}

      form(method='POST' action='/profile')
        input(type='hidden', name='_csrf', value=_csrf)
        div.form-group
          p#user_id Email:  #{user.local.email}

        div.form-group.input
          label(for='first_name') First Name:
          input#first_name.form-control(type='text', placeholder='First name' name='fname' required='true' value=(undefined===user ? 'undef' : user.local.fname) )

        div.form-group.input
          label(for='family_name') Last Name:
          input#family_name.form-control(type='text', placeholder='Family name (surname)' name='lname' required='true' value=(undefined===user ? 'undef' : user.local.lname) )

        div.form-group.input
          label(for='gender') Gender:
          select#gender.form-control(type='select', placeholder='Select your Gender', name='gender')
            option(value='')
            option(value='Male' selected=(user.local.gender=='Male' ? 'selected' : false)) Male
            option(value='Female' selected=(user.local.gender=='Female' ? 'selected' : false)) Female

        div.form-group.input
          label(for='date_of_birth') Date of birth:
          input#date_of_birth.form-control(type='date', placeholder='' name='date_of_birth', value=(undefined===user ? '' : user.dateFormat))

        div.form-group.input
          label(for='address') Address:
          input#address.form-control(type='text', placeholder='Country, Province, City', name='address', value=(undefined===user ? '' : user.local.address))

        div.form-group.input
          label(for='cell_phone') Cell phone:
          input#cell_phone.form-control(type='text', name='cell_phone', placeholder='cell phone', value=(undefined===user ? '' : user.local.cell_phone))



        br


        button.btn.btn-primary(type='submit') Update
          if errors
            ul
              for error in errors
                li!= error.msg
