extends layout

block content
  h3= title


  ol.item-list
    each item in wishlist
      li
        div.row
          div.pic.col-sm-3.text-center
          div.detail.col-sm-9
            span.name
              a(href=item.url) #{item.name}
            span.price
              | CDN$ #{item.price}
            span.rating
              | ★★★★
            span
              | #{item.view_count} views

    else
      li No items
